# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env.example

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Database
*.db
*.sqlite3
data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Other
.DS_Store
.coverage
htmlcov/
.pytest_cache/
README.md 